<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title size="large">
      <div class="ion-text-end">
       للتواصل معنا 
        <ion-icon name="call-outline"></ion-icon>    
      </div>            
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="{{contact.logo}}">      
    </ion-img>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <div class="ion-text-center">
          للتواصل معنا     
        </div>
        <br/>
      </ion-card-title>
      <div class="ion-text-center">
        الهاتف: 71.831.700 - 71.832.358 - 71.832.248
    </div>
    </ion-card-header>
    <div class="ion-text-center">
    العنوان: 53، شارع الحرية، 1002 تونس
  </div> 
  <br/> 
  </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <div class="ion-text-center">
        من أجل طلب تحديث حسابكم من أجل خطأ أو تغيير في إحدى المعطيات الشخصية الرجاء التواصل معنا عن طريق
          </div>
          <br/>
        </ion-card-title>
        <div class="ion-text-center">
           contact@cpf.gov.tn : البريد الإلكتروني 
      </div>
      </ion-card-header>
      </ion-card>

</ion-content>
